body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
}

main {
  display: flex;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  gap: 4px;
}

.canvasMapper {
  grid-column-start: 2;
}

#workspace {
  border: 2px solid #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

#importFile {
  display: none;
}

/**********
 * Button
 **********/

button {
  border: 2px solid #000;
  padding: 0.5rem;
  font-size: 1rem;
}

button:focus {
  outline-offset: 3px;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background-color: #3e6659;
  color: #fff;
}

/***********
 *  Import / Export Options
 ***********/

#importExportOptions {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 0.5rem;
}

/***********
 *  Toolbar
 ***********/
.tools {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 1rem;
}

.toolbar .btn {
  width: 44px;
  height: 44px;
  background-size: cover;
}

#selectBtn.active {
  background-image: url(../assets/images/cursor_active.svg);
}

#selectBtn {
  background-image: url(../assets/images/cursor.svg);
}

#stationBtn.active {
  background-image: url(../assets/images/station_active.svg);
}

#stationBtn {
  background-image: url(../assets/images/station.svg);
}

#connectionBtn.active {
  background-image: url(../assets/images/connection_active.svg);
}

#connectionBtn {
  background-image: url(../assets/images/connection.svg);
}

#deleteBtn {
  background-image: url(../assets/images/delete.svg);
}

#deleteBtn:active {
  background-image: url(../assets/images/delete_active.svg);
}

#undoBtn {
  background-image: url(../assets/images/undo.svg);
}

#undoBtn:active {
  background-image: url(../assets/images/undo_active.svg);
}

#redoBtn {
  background-image: url(../assets/images/redo.svg);
}

#redoBtn:active {
  background-image: url(../assets/images/redo_active.svg);
}

/**********
 * Properties Editor
 **********/

#properties {
  border: 2px solid #000;
  font-size: 0.875rem;
  min-height: 100px;
  padding: 2px;
  min-width: 240px;
}

#properties h2 {
  font-size: 0.875rem;
  font-weight: 600;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 25px;
  gap: 5px;
}
